In [ ]:
# Reads in an SDSS spectrum, convolves it with a Gaussian, and combines multiple
# ones onto a single array and writes it out 

# Created 2023 July 2 by E.S.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
stem = '/Users/bandari/Documents/git.repos/photonics_spectroscopy/notebooks_for_development/'

In [7]:
df = pd.read_csv(stem + 'data/sdss_spectrum.dat', delim_whitespace=True, names=['wavel','flux'])

In [8]:
df

          wavel    flux
0     3911.1108  1.0000
1     3912.0115  0.9719
2     3912.9124  0.8503
3     3913.8135  0.7793
4     3914.7146  0.7999
...         ...     ...
1010  4945.3853  1.0512
1011  4946.5240  0.9686
1012  4947.6630  1.0618
1013  4948.8022  0.9255
1014  4949.9420  1.0000

[1015 rows x 2 columns]